@model TestForCompanies.Models.ViewModels.PurveyorFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Purveyor</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Purveyor.Id" />
            <div class="form-group">
                <label asp-for="Purveyor.Uf" class="control-label"></label>
                <span asp-validation-for="Purveyor.Uf" class="text-danger"></span>
                <select asp-for="Purveyor.Uf" class="form-control">
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.CompanyName" class="control-label"></label>
                <input asp-for="Purveyor.CompanyName" class="form-control" />
                <span asp-validation-for="Purveyor.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.Name" class="control-label"></label>
                <input asp-for="Purveyor.Name" class="form-control" />
                <span asp-validation-for="Purveyor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.Rg" class="control-label"></label>
                <input asp-for="Purveyor.Rg" class="form-control" />
                <span asp-validation-for="Purveyor.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.Cpf" class="control-label"></label>
                <input asp-for="Purveyor.Cpf" class="form-control" />
                <span asp-validation-for="Purveyor.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.Cnpj" class="control-label"></label>
                <input asp-for="Purveyor.Cnpj" class="form-control" />
                <span asp-validation-for="Purveyor.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.Phone" class="control-label"></label>
                <input asp-for="Purveyor.Phone" class="form-control" />
                <span asp-validation-for="Purveyor.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purveyor.BirthDate" class="control-label"></label>
                <input asp-for="Purveyor.BirthDate" class="form-control" />
                <span asp-validation-for="Purveyor.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Company</label>
                <span asp-validation-for="Purveyor.CompanyId" class="text-danger"></span>
                <select asp-for="Purveyor.CompanyId" asp-items="@(new SelectList(Model.Companies, "Id", "TradingName"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
