@model TestForCompanies.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<hr />
<div class="">
    <h2 class="text-danger">Message: @Model.Message</h2>

    <h3>Ohhhhhh Nooooooooooooo!!!!!</h3>

    <img src="~/images/ImgErrorPage/error1.png" height="295" />
</div>



