@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>Desenvolvedor: @ViewData["dev"]</h3>

<address>
    <strong>Mais informações: </strong>
    <a class="btn btn-info" href="https://www.linkedin.com/in/claudionorsilva/"> Linkedin</a>
    <a class="btn btn-info" href="https://github.com/claudionorjr/test-for-Bludata"> GitHub</a>
</address>

        
