@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h4>
    Desenvolvedor: @ViewData["dev"]
</h4>

    <address>
        <h5>More Info:</h5>
        <div class="btn-group">
            <a class="btn btn-default" href="https://www.linkedin.com/in/claudionorsilva/"> Linkedin</a>
            <a class="btn btn-default" href="https://github.com/claudionorjr/test-for-companies"> GitHub</a>
        </div>
    </address>


