@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>
        Tel:
    </strong>
    @ViewData["phone"]
</address>

<address>
    <strong>
        Email:
    </strong>
    <a href="mailto:claudionor.junior1994@gmail.com">claudionor.junior1994@gmail.com</a><br />
</address>
